body{
    margin: 0;
    padding: 0;
    background-color: #FEFEFE;
}

h1{
    position: relative;
    z-index: 2;
    /* top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    height: 50px;
    text-shadow: 5px 5px #FBF0D4,
    6px 6px #C7B99C;
}
h4{
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
.dots {
    border-width: 0 0 8px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
    width: 750px;
}


.login-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin-top: 100px;
    border-radius: 25px;
}
.login-card form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
}
.login-card form input{
    padding: 5px;
    margin-bottom: 5px;
}
#HERO{
    display: flex;
    justify-content: space-around;
}
.login-button{
    font-family: 'Dancing Script', cursive;
    border: 2px solid #C6B79B;
    background-color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    text-decoration: none;
    /* font-size: 1.3rem; */
    color: black;
    font-size: 17px;
}
.login-button:hover{
    cursor: pointer;
    background-color: #FBEFD4;
    transition: .3s;
    border: 2px solid #FBF0D4;
}
.sign-up{
    font-family: 'Dancing Script', cursive;
    border: 2px solid #C6B79B;
    background-color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    text-decoration: none;
    /* font-size: 1.3rem; */
    color: black;
    font-size: 17px;
}
.sign-up:hover{
    cursor: pointer;
    background-color: #FBEFD4;
    transition: .3s;
    border: 2px solid #FBF0D4;
}

