
body{
    margin: 0;
    padding: 0;
    background-color: #FEFEFE;
}

.dots {
    border-width: 0 0 8px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
    width: 750px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-height: 125px;
    background-color: #FEFEFE;
}
.break-slack{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    border-top: 2px solid #FBF0D4 ;
}
.break-slack:visited{
    color: black;
}

h4{
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}


.logout-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 2px solid #FBF0D4;
}
.logout{
    font-family: 'Dancing Script', cursive;
    border: 2px solid #C6B79B;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}
.logout:hover{
    background-color: #FBEFD4;
    transition: .3s;
    border: 2px solid #FBF0D4;
}

.title{
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    text-shadow: 5px 5px #FBF0D4,
                 6px 6px #C7B99C;
}
.welcome-user{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -25px;
}

.cont-descriptors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}
.side-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 80vh;
    margin-left: 30px;
    border-right: 2px solid #FBF0D4;
    border-right-style: double;
    border-bottom: 1px solid #FBF0D4;
    border-bottom-style: double;
    overflow-y: scroll;
}
.side-bar::-webkit-scrollbar{
    display: none;
}
.coffee-break{
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    border: 3px solid #FBF0D4;
    border-radius: 25px;
    margin: 50px 50px 50px 112px;
}
.friends-meet{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    border: 3px solid #FBF0D4;
    border-radius: 25px;
    margin: 50px 100px 50px 50px;
    width: 60%;
}
.break-card{
    display: flex;
    width: 200px;
    color: black;
    max-height: 250px;
    border: 2px solid #C6B89B;
    border-radius: 25px;
    margin-right: 40px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    height: 80vh;
    overflow-y: scroll;
    border-radius: 25px;
    padding: 15px;
    
}
.card-container:hover{
    transition: 2s;
    background-color: rgb(253, 253, 253);
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.card-container::-webkit-scrollbar{
    color: blanchedalmond;
}
#friend-card{
    display: flex;
    flex-direction: column;
    border: 2px solid #C6B89B;
    width: 400px;
    height: 300px;
    border-radius: 25px;
    margin-bottom: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    
}
#friend-card .top-friend-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
}
#friend-card .name-mod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
}
#friend-card .bottom-friend-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.bottom-time{
    color: #AB7367;
    margin-top: -15px;
    font-size: 2rem;
}
.general-button{
    border: 3px solid #FBF0D4;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
}
.general-button:hover{
    background-color: #FBF0D4;
    border: 2px solid #C6B79B;
    font-style: italic;
    cursor: pointer;
    transition: .3s;
    
}
.mod-button{
    font-family: 'Dancing Script', cursive;
    border: 2px solid #C6B79B;
    background-color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    text-decoration: none;
    /* font-size: 1.3rem; */
    color: black;
    font-size: 17px;

}
.mod-button:hover{
    background-color: #FBEFD4;
    transition: .3s;
    border: 2px solid #FBF0D4;

}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 70%;
    height: 60%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation-name: modalopen;
    animation-duration: 1s;
}
.close-button{
    color: #CCC;
    float: right;
    font-size: 30px;
}
.close-button:hover, .close-button:focus{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

@keyframes modalopen{
    from{opacity: 0}
    to{opacity: 1}
}

.modal-username{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 3rem;
    border-bottom: 5px solid #FBEFD4;
}
.edit-container{
    height: 90%;
}
.edit-container form{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.edit-container form h3{
    margin-bottom: -25px;
    margin-top: -25px;
    
}
.edit-container form input{
    padding: 15px;
    
}

.radio-buttons{
    text-align: center;
}
.mod-submit{
    
    font-family: 'Dancing Script', cursive;
    border: 2px solid #C6B79B;
    background-color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 25px;
    text-decoration: none;
    /* font-size: 1.3rem; */
    color: black;
    font-size: 17px;
}
.mod-submit:hover{
    background-color: #FBEFD4;
    transition: .3s;
    border: 2px solid #FBF0D4;
}



