

body{
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

h1{
    position: relative;
    z-index: 2;
    /* top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    height: 50px;
    text-shadow: 5px 5px #FBF0D4;
}
h4{
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}
a{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #cba690;
}
a:visited{
    color: black
}

#signup-HERO{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 60vh;
    align-items: center;
    align-content: center;
}
.time-signup{
    text-align: center;
}

.signup-logo{
    max-width: 600px;
}
#signup-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 5px solid #FBF0D4;
    margin-top: 100px;
    border-radius: 25px;
    overflow: auto;
}
#signup-card form{
    display: flex;
    flex-direction: column;
}
#signup-card form input{
    padding: 15px;
    margin: 15px;
}
.radio-buttons{
    text-align: center;
}
.tooltip {
    display: inline-flex;
    justify-content: center;
    font-style: italic;
    border-bottom: 1px dotted #FBF0D4;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 400px;
    
    background-color: #FBF0D4;
    color: black;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    console.log('hovered')
  }

